- if @question.class == DictationQuestion
  - question = @question
- else
  - question = DictationQuestion.new

  
%h3 Dictation Question
= simple_form_for [@quiz, question], :html => {:multipart => true} do |f|
  = render "shared/error_messages", :target => question

  
  = f.input :title, :label => "Question", :as => :text
  %br/
  = f.input :answer
  %br/
  %p Audio: #{ f.file_field :audio }
  %p Image: #{ f.file_field :image }
  = f.submit :class => "green-rounded"