- if @question.class == DictationQuestion
  - question = @question
- else
  - question = DictationQuestion.new

  
%h3 Dictation Question
= simple_form_for [@quiz, question], :html => {:multipart => true} do |f|
  = render "shared/error_messages", :target => [{:item => question}]

  
  = f.input :title
  %br/
  = f.input :answer
  %br/
  Audio: #{ f.file_field :audio }
  
  %br/
  %br/
  = f.submit "Create Dictation Question", :class => "green-rounded"