- if @question.class == TextQuestion
  - question = @question
- else
  - question = TextQuestion.new


%h3 Freeform Question
= simple_form_for [@quiz, question], :html => {:multipart => true} do |f|
  = render "/shared/error_messages", :target => question


  = f.input :title, :label => "Question", :as => :text
  %br/
  = f.input :answer
  %br/  
  %p Audio: #{ f.file_field :audio }  
  %p Image: #{ f.file_field :image }
  
  = f.submit :class => "green-rounded"