.header
  %h2 #{@quiz.title } summary

.content
  = simple_form_for @quiz, :url => :reassign_question do |f|
    Re-assign questions to 
    = text_field_tag :receiving_id, '' , :style => "width: 50px;"
    = f.submit "Reassign"
    %table#questions-table.big
      %thead
        %tr
          %th
          %th Title
          %th Audio
          %th Image
          %th Question Type
          %th
      %tbody
        = render :partial => '/shared/admin_question_row', :collection => @quiz.questions, :as => :question



  .green-rounded= link_to "Add Questions", new_quiz_question_url(@quiz)

:javascript
  $('#questions-table input').click(function() {
       $(this).parent().parent().toggleClass('highlight');
  });