%tr
  %td.title= (quiz_counter+1).to_s + ". " + quiz.title
  %td= quiz.questions.count
  %td
    = link_to "Show", quiz_url(quiz)
    - if current_user.admin?
      |
      = link_to "Edit", edit_quiz_url(quiz)
      |
      = link_to "Take Quiz", take_url(quiz)
  %td= quiz.number