!!!
%html
  %head
    %title English Quiz Administration
    = stylesheet_link_tag :flutie, 'main'
    = javascript_include_tag :defaults
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js'
    = javascript_include_tag 'flash'
    = javascript_include_tag :high_charts

    
    = csrf_meta_tag
    :plain
      <link  href="http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
  %body
    #menu
      = link_to "Home", root_path      
      - if current_user
        = link_to "My Statistics", user_statistics_url(current_user)
        - if current_user.admin?
          = link_to "Manage Users", users_url
          = link_to "Manage Quizzes", quizzes_url
                
        = link_to "Edit Profile", edit_user_registration_url(current_user)

        = link_to "Log out", destroy_user_session_url(current_user)
    %div
      - if notice
        #main_notice.notice= notice
      - if alert
        #main_error.error= alert

    = yield
