!!!
%html
  %head
    %title English Quiz Administration
    = stylesheet_link_tag :flutie, 'main'
    = javascript_include_tag :defaults
    
    = csrf_meta_tag
    :plain
      <link  href="http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css" >
  %body
    #menu
      = link_to "Home", root_path
    %div
      - if notice
        .flash.notice= notice
      - if alert
        .flash.alert= alert

    = yield
